<div class="main" id="education">
  <ul class="timeline" [ngsReveal]="{ delay: 200 }">

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">WIDS AMBASSADOR </span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2021</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }" >
          Ranked first Moroccan team in the IEEEXtreme competition
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Internship</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2021</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }" >
          Intern at Trésorerie Générale du Royaume
        </div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">N°1 MOROCCO</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2021</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }" >
            Ranked first Moroccan team in the IEEEXtreme competition
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">EMI</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2020 - Present</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }" >
          Started studying at Ecole mohammedia d'ingénieurs as a computer
          science Engineer ( I'm also a member of Forum EMI-Entreprises)
        </div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Python</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2018 - Present</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Preparatory Classes</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2018 - 2020</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }">
          Preparatory class for high scientific school (Mathematics /
          Physics)
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Volunteer at Fikra!</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2017 - 2018</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Freelance</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2016 - 2018</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }">freelance as a developer</div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">JAVA</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2015 - Present</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }">started using Java</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">High School</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2015 - 2018</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }">Joining Group Scolaire Bennis & Terrab</div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">C</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2014 - Present</span></span>
        </div>
        <div class="desc" [ngsReveal]="{ delay: 500 }" >started learning C</div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">HTML / CSS / JS</span>
          <span class="time-wrapper" [ngsReveal]="{ delay: 300 }"><span class="time">2014 - Present</span></span>
        </div>
      </div>
    </li>
  </ul>
</div>
