<div class="main" id="certif">
  <section class="cards-wrapper">
    <app-certif-cards [data]="{name:'Mini-Master Machine Learning', tags:['Orange'], link:'#'}"></app-certif-cards>
    <app-certif-cards [data]="{name:'Security', tags:['Huawei','HCIA'], link:'#'}"></app-certif-cards>
    <app-certif-cards [data]="{name:'Cyber Security Foundation', tags:['CSFPC','CertiProf'], link:'#'}"></app-certif-cards>
    <app-certif-cards [data]="{name:'C langage', tags:['UNIVERSITY OF CALIFORNIA','COURSERA'], link:'#'}"></app-certif-cards>
    <app-certif-cards [data]="{name:'Html / CSS', tags:['OPENCLASSROOM'], link:'#'}"></app-certif-cards>
    <app-certif-cards [data]="{name:'Javascript & javascript for the web', tags:['OPENCLASSROOM'], link:'#'}"></app-certif-cards>
  </section>
</div>
