<div class="main" id="certif">
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <a class="card" href="#" style="background-color: #242020">
        <div>
          <h1>Security</h1>
          <div class="tags">
            <div class="tag">Huawei</div>
            <div class="tag">HCIA</div>
          </div>
        </div>
      </a>
    </div>

    <div class="card-grid-space">
      <a class="card" href="#" style="background-color: #242020">
        <div>
          <h1>Cyber Security Foundation</h1>
          <div class="tags">
            <div class="tag">CSFPC</div>
            <div class="tag">CertiProf</div>
          </div>
        </div>
      </a>
    </div>

    <div class="card-grid-space">
      <a class="card" href="#" style="background-color: #242020">
        <div>
          <h1>C langage</h1>
          <div class="tags">
            <div class="tag">UNIVERSITY OF CALIFORNIA</div>
            <div class="tag">COURSERA</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="#" style="background-color: #242020">
        <div>
          <h1>Html / CSS</h1>
          <div class="tags">
            <div class="tag">OPENCLASSROOM</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="#" style="background-color: #242020">
        <div>
          <h1>Javascript & javascript for the web</h1>
          <div class="tags">
            <div class="tag">OPENCLASSROOM</div>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
