<footer>
  <div class="wrapper">
    <app-button [data]="{isImage : true ,link: 'https://www.linkedin.com/in/hamza-chafkan/' , image:'linkeding.png', classList:[''] }"></app-button>
    <app-button [data]="{isImage : true ,link: 'https://github.com/Yeyvo' , image:'github.png', classList:[''] }"></app-button>
  </div>
  <svg width="0" height="0">
    <filter id="filter">
      <feTurbulence type="fractalNoise" baseFrequency=".01" numOctaves="6" />
      <feDisplacementMap in="SourceGraphic" scale="100" />
    </filter>
  </svg>
</footer>
