/*projet */
#projet {
  background-color: var(--background-1);
  .repo-card,
  .card-grid-space {
    & > div {
      max-width: 60%;
      margin: auto;
    }
    align-self: center;
  }

  .block-proj {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .github {
      display: flex;
      align-items: center;
      gap: 30px;
      img {
        align-self: baseline;
        margin: auto;
        margin-top: 20px;
        flex: 1;
      }
    }
  }

  .titleProj{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 47px;
    margin-bottom: 20px;

  }
}


@media screen and (max-width: 1600px) {
  #projet {
    .github {
      flex-direction: column;
    }
  }
}
