<div class="main" id="prese">
  <object data="../assets/ressources/img/pres.svg" width="400" height="400"></object>
  <div class="presentat">
    <p class="fin" [ngsReveal]="{ delay: 200 }">
      My name is <strong>Hamza CHAFKAN</strong>. I'm a student at EMI
      Computer Science Department. I have been passionate about this since
      my youngest age. I have always liked solving problems, jigsaw
      puzzles, i learned to code while being in middle school because i
      couldn't understand how to write on a keyboard could allow us to go
      on the moon and from that day i've never stopped loving what i'm
      doing
    </p>
    <div class="wrapper">
      <a href="https://www.linkedin.com/in/hamza-chafkan/">
        <div class="button _1">
          <span><img src="../assets/ressources/img/linkeding.png" alt="" style="height: 30px" /></span>
          <div class="back"></div>
        </div>
      </a>
      <div class="button _1">
        <span><a href="#">Mon CV</a></span>
        <div class="back"></div>
      </div>
      <a href="https://github.com/Yeyvo">
        <div class="button _1">
          <span><img src="../assets/ressources/img/github.png" alt="" style="height: 30px" /></span>
          <div class="back"></div>
        </div>
      </a>
    </div>
  </div>
</div>
