:root {
  --color: rgb(108, 99, 255);
  --background-1: #202020;
  --background-2: #181818;
}

@font-face {
  font-family: "Fira Code";
  src: url("../font/FiraCode-Bold.woff") format("woff2"), url("../font/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../font/FiraCode-Regular.woff2") format("woff2"), url("../font/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

a:hover {
  color: var(--color);
}

.first-presentation,
.fin,
.github,
.repo-card,
.timeline,
.desc,
.time-wrapper,
.img-hello {
  visibility: hidden;
}

body {
  margin: 0;
  color: white;
  font-weight: 300;
  font-family: "Fira Code", monospace, "Montserrat", sans-serif;
  background-color: var(--background-1);
}

.main {
  min-height: 90vh;
  overflow: hidden;
  z-index: 5;
}

@-webkit-keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fin:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  -webkit-animation: pisca 1s infinite;
          animation: pisca 1s infinite;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

object {
  z-index: 5;
}

.cards-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  /* width: max-content; */
}

/* HEADER */
header {
  background-color: var(--background-1);
  z-index: 6;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  margin: 0 20px 0 20px;
}

header a:hover {
  border-bottom: 3px solid var(--color);
}

/* HELLO */
#hello {
  background-color: var(--background-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

#hello > object {
  width: 35%;
  height: auto;
}

#hello .hey {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

#hello .hey .first-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: auto;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  text-align: center;
}

#hello .hey .first-presentation p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hello .hey .wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#hello p {
  margin: 5px 0;
}

#hello h1 {
  margin: 5px 0px;
  color: var(--color);
  size: 15em;
}

#hello object {
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*prese*/
#prese {
  background-color: var(--background-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

#prese .presentat {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  text-align: center;
}

#prese object {
  -webkit-box-flex: 0.55;
      -ms-flex: 0.55;
          flex: 0.55;
  margin: 10px;
}

/*projet */
#projet {
  background-color: var(--background-2);
}

#projet .repo-card,
#projet .card-grid-space {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#projet .repo-card > div,
#projet .card-grid-space > div {
  max-width: 60%;
  margin: auto;
}

#projet .block-proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projet .block-proj .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#projet .block-proj .github img {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin: auto;
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*EDUCATION*/
#education {
  background-color: var(--background-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

/* CERTIF */
#certif {
  background-color: var(--background-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#certif .card-grid-space > a {
  max-width: 60%;
  margin: auto;
}

/*footer */
footer {
  background-color: var(--background-1);
}

footer .wrapper {
  padding: 15px 0px;
}

/*Responsive*/
@media screen and (max-width: 1600px) {
  #projet .github {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main {
    height: auto;
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main object {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  body .main .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #hello {
    min-height: 50vh;
  }
  body .presentat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .block-proj > object {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #hello object {
    display: none;
  }
  #prese .presentat {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #prese .button {
    width: calc(0.7 * 200px);
    height: calc(0.6 * 100px);
  }
}

@media screen and (max-width: 500px) {
  .github .account {
    width: calc(0.9 * 445px);
  }
  header {
    padding: 0px 25px;
  }
}

@media screen and (max-width: 450px) {
  .fin {
    width: 80%;
  }
  #prese .button {
    width: calc(0.6 * 200px);
    height: calc(0.5 * 100px);
  }
}

@media screen and (max-width: 420px) {
  #prese object {
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .github .account {
    width: calc(0.79 * 445px);
  }
  #prese .button {
    width: calc(0.5 * 200px);
    height: calc(0.4 * 100px);
  }
}
/*# sourceMappingURL=style.css.map */