:root {
  --color: rgb(108, 99, 255);
  --background-1: #202020;
  --background-2: #181818;
}

@font-face {
  font-family: "Fira Code";
  src: url("../font/FiraCode-Bold.woff") format("woff2"),
    url("../font/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../font/FiraCode-Regular.woff2") format("woff2"),
    url("../font/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
}

a:hover {
  color: var(--color);
}

body {
  margin: 0;
  color: white;
  font-weight: 300;
  font-family: "Fira Code", monospace, "Montserrat", sans-serif;
}

.main {
  min-height: 90vh;
  overflow: hidden;
  z-index: 5;
  margin: repeat(2, auto 0);
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fin:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 1s infinite;
}

.all {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

object {
  z-index: 5;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  /* width: max-content; */
}

/* HEADER */

header {
  background-color: var(--background-1);
  z-index: 6;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    margin: 0 20px 0 20px;
  }
  a:hover {
    border-bottom: 3px solid var(--color);
  }
}

/* HELLO */

#hello {
  // position: relative;
  background-color: var(--background-2);
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  & > object {
    width: 35%;
    height: auto;
  }

  .hey {
    order: -1;
    align-self: center;

    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    // flex: 1;
    .first-presentation {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: auto;
      flex-grow: 3;
      p {
        align-self: center;
      }
      text-align: center;
    }
    .wrapper {
      flex: 1;
    }
  }

  p {
    margin: 5px 0;
  }

  h1 {
    margin: 5px 0px;
    color: var(--color);
    size: 15em;
  }

  object {
    align-self: center;
  }
}

/*prese*/

#prese {
  background-color: var(--background-1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  .presentat {
    width: auto;
    flex: 1;
    margin: 10px;
    text-align: center;
  }

  object {
    flex: 0.55;
    margin: 10px;
  }
}

/*projet */
#projet {
  background-color: var(--background-2);
  .repo-card,
  .card-grid-space {
    & > div {
      max-width: 60%;
      margin: auto;
    }
    align-self: center;
  }

  .block-proj {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .github {
      display: flex;
      align-items: center;
      gap: 30px;
      img {
        align-self: baseline;
        margin: auto;
        margin-top: 20px;
        flex: 1;
      }
    }
  }
}

/*EDUCATION*/

#education {
  background-color: var(--background-1);
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* CERTIF */
#certif {
  background-color: var(--background-2);
  display: flex;
  .card-grid-space {
    & > a {
      max-width: 60%;
      margin: auto;
    }
  }
}

/*footer */
footer {
  background-color: var(--background-1);
  .wrapper {
    padding: 15px 0px;
  }
}

/*Responsive*/
@media screen and (max-width: 1600px) {
  #projet {
    .github {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1000px) {
  // #hello {
  //   object {
  //     display: none;
  //   }
  // }

  body {
    display: flex;
    flex-direction: column;
    .main {
      height: auto;
      min-height: auto;
      flex-direction: column;
      align-items: center;
      object {
        order: -1;
      }
      .wrapper {
        flex-direction: row;
      }
    }
    #hello {
      min-height: 50vh;
    }

    .presentat {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .wrapper {
    flex-direction: row;
  }

  .block-proj {
    & > object {
      display: none;
    }
  }

  #prese {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  #hello {
    object {
      display: none;
    }
  }
}
@media screen and (max-width: 500px) {
  .github {
    .account {
      width: calc(0.9 * 445px);
    }
  }
  header {
    padding: 0px 25px;
  }
}

@media screen and (max-width: 450px) {
  .fin {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .github {
    .account {
      width: calc(0.79 * 445px);
    }
  }
}
