<div class="main" id="hello">

  <div id="zeroParticles"></div>
  <div id="oneParticles"></div>

  <object data="../assets/ressources/img/hello.svg" class=""></object>
  <div class="hey">
    <div class="first-presentation" [ngsReveal]="{ delay: 400 }">
      <p>Hey I'm</p>
      <h1>Hamza CHAFKAN</h1>
      <p class="fin" [ngsReveal]="{ delay: 200 }">a Computer Science Engineering Student @EMI</p>
    </div>
    <div class="wrapper">
      <a href="https://www.linkedin.com/in/hamza-chafkan/">
        <div class="button _1">
          <span>
            <img src="../assets/ressources/img/linkeding.png" alt="" style="height: 30px" class="img-hello"
                 [ngsReveal]="{ delay: 400 }"/>
          </span>
          <div class="back"></div>
        </div>
      </a>
      <a href="https://github.com/Yeyvo">
        <div class="button _1">
            <span>
                <img src="../assets/ressources/img/github.png" alt="" style="height: 30px"
                     class="img-hello" [ngsReveal]="{ delay: 400 }"/>
            </span>
          <div class="back"></div>
        </div>
      </a>
    </div>
  </div>
</div>
