@import "assets/ressources/style/button.scss";
@import "assets/ressources/style/card.css";
@import "assets/ressources/style/menu.scss";
@import "assets/ressources/style/timeline.scss";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --color: rgb(108, 99, 255);
  --background-1: #202020;
  --background-2: #181818;
}

@font-face {
  font-family: "Fira Code";
  src: url("/assets/ressources/font/FiraCode-Bold.woff") format("woff2"),
  url("/assets/ressources/font/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("/assets/ressources/font/FiraCode-Regular.woff2") format("woff2"),
  url("/assets/ressources/font/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
  color: inherit;
}

a:hover {
  color: var(--color);
}

.first-presentation,
.fin,
.github,
.repo-card,
.timeline,
.desc,
.time-wrapper,
.img-hello {
  visibility: hidden;
}

body {
  //overflow-x: hidden;
  margin: 0;
  color: white;
  font-weight: 300;
  font-family: "Fira Code", monospace, "Montserrat", sans-serif;
  background-color: var(--background-1);
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;user-select:none
}

html {
  background-color: var(--background-1);
  scroll-behavior: smooth;

}

.main {
  min-height: 90vh;
  overflow: hidden;
  z-index: 5;
  // margin: auto 0 auto 0;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fin:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 1s infinite;
}

.all {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

object {
  z-index: 5;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  /* width: max-content; */
}


/*Responsive*/


@media screen and (max-width: 1000px) {
  // #hello {
  //   object {
  //     display: none;
  //   }
  // }

  body {
    display: flex;
    flex-direction: column;

    .main {
      height: auto;
      min-height: auto;
      flex-direction: column;
      align-items: center;

      object {
        order: -1;
      }

      .wrapper {
        flex-direction: row;
      }
    }

    #hello {
      min-height: 50vh;
    }

    .presentat {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .wrapper {
    flex-direction: row;
  }

  .block-proj {
    & > object {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  #hello {
    object {
      display: none;
    }
  }

  #prese {
    //
    .presentat {
      // margin: auto;

      align-items: center;
    }

    .button {
      width: calc(0.7 * 200px);
      height: calc(0.6 * 100px);
    }
  }
}

@media screen and (max-width: 500px) {
  .github {
    .account {
      width: calc(0.9 * 445px);
    }
  }
  header {
    padding: 0px 25px;
  }
}

@media screen and (max-width: 450px) {
  .fin {
    width: 80%;
  }
  #prese {
    //
    .button {
      width: calc(0.6 * 200px);
      height: calc(0.5 * 100px);
    }
  }
}

@media screen and (max-width: 420px) {
  #prese {
    //
    object {
      width: 90%;
      height: auto;
    }
  }
}

@media screen and (max-width: 400px) {
  .github {
    .account {
      width: calc(0.79 * 445px);
    }
  }
  #prese {
    //
    .button {
      width: calc(0.5 * 200px);
      height: calc(0.4 * 100px);
    }
  }
}


@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }

}

@media screen and (max-width: 450px) {

  /* .cards-wrapper {
    padding-right: 3em;
  } */
}
